@import "tailwindcss";
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .shadow-outer {
    box-shadow: 0 4 30 rgba(0, 0, 0, 0.1);
  }
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #fbbf24;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #fcd34d;
}

::selection {
  background: #fcd34d;
  color: #000000;
}
